@{
    ViewData["Title"] = "Home Page";
}


<div>
    <!-- Hero Section -->
    <div class="content text-center">
        <h1 class="display-4">Welcome to the Travel Blog</h1>
        <p class="lead">Explore incredible destinations, discover travel tips and get inspired for your next adventure!</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Posts" asp-action="Index" role="button">Posts</a>
    </div>
</div>

